
.header, .welcome , h4{
    text-align: center;
    padding-bottom: 5px;
    font-family: Apple Chancery;
}

.navbar {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: double;
}

body {
    /* background-color: bisque; */
    background-image: url('/handwritten_recipe.jpg');
    background-size: cover;
   
}

.form {
    border: double green; 
    padding: 5px;
    margin: 25px;
    text-align: center;
    border-width: 80%;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=textarea] {
    width: 50%;
    height: 75px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=textarea]:focus {
    border: 3px solid #555;
}

input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=submit] {
    margin: 12px 3px;
}

.recipeInput {
    /* border: 3px solid black; */
    padding-left: 7px;
    width: 375px;
    height: 30%;
    align-content: center;
}

.recipe {
    border: 3px solid black;
    position: absolute;
    width: 475px;
    height: 375px;
    float: right;
    bottom: 0%;
    text-align: center;
}

.loggedInUser {
    padding: 10px; 
}

.float-child {
    width: 40%;
    float: left;
    padding: 20px;
    margin: 5px;
    /* border: 3px solid black; */
    text-align: center;
}




